<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <!-- <h1>Team Name: <%= @newteam[0] %></h1>
   <h2>Coach: <%= @newteam[1] %></h2>
   <h2>Point Guard: <%= @newteam[2] %></h2>
   <h2>Shooting Guard: <%= @newteam[3] %></h2>
   <h2>Small Forward: <%= @newteam[4] %></h2>
   <h2>Power Forward: <%= @newteam[5] %></h2>
   <h2>Center: <%= @newteam[6] %></h2> -->
 </body>
</html>
